@model Demo.Models.Customer

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" aria-hidden="True">X</button>
        <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) Details</h2>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd>@Html.DisplayFor(model => model.FirstName)</dd>
            <dt>@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd>@Html.DisplayFor(model => model.LastName)</dd>
            <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                <dd>@Html.DisplayFor(model => model.Email)</dd>
        </dl>
    </div>
</div>
