@model IEnumerable<Demo.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers list</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modCreateCustomer">
        Create
    </button>
</p>

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div id="modCreateCustomer" class="modal fade">
    <div class="modal-body" id="form-container">
        @Html.Action("Create", "Customers")
    </div>
</div>


<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a id="vbutton" data-role="button" href="/Customers/Details/11">Click Button</a>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#vbutton").click(function (e) {
                alert('button clicked');
                e.preventDefault();
                //$.get(this.href, function (data) {
                //    $("#dialogContent").html(data);
                //    $("#modDialog").modal("show");
                //});
            });

            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "firstName"
                    },
                    {
                        data: "lastName"
                    },
                    {
                        data: "phoneNumber"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "id",
                        render: function(data, type, customer) {
                            return "<a href='/Customers/Edit/" + data + "'>" + 'Edit' + "</a>" + " " +
                                "<a id='vbutton' data-role='button' href='/Customers/Details/" + data + "'>" + 'Details' + "</a>" + " " +
                                "<a href='/Customers/Delete/" + data + "'>" + 'Delete' + "</a>";
                        }
                    }

                ]
            });



            $("#modCreateCustomer").on("submit", "#form-createCustomer", function(e) {
                e.preventDefault(); // prevent standard form submission

                var form = $(this);
                $.ajax({
                    //type: "POST",
                    url: form.attr('action'),
                    type: form.attr('method'), // post
                    data: form.serialize(),
                    success: function(partialResult) {
                        $("#form-container").html(partialResult);
                    }
                });
            });

        });


    </script>
}