@model IEnumerable<Demo.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modCreateCustomer">
        Create
    </button>
</p>



<div id="modDetailDialog" class="modal fade">
    <div id="contentDetailDialog" class="modal-dialog"></div>
</div>


<div id="modCreateCustomer" class="modal fade">
    <div class="modal-body" id="form-container">
        @Html.Action("Create", "Customers")
    </div>
</div>


<table id="customers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                {
                    data: "firstName"
                },
                {
                    data: "lastName"
                },
                {
                    data: "phoneNumber"
                },
                {
                    data: "email"
                }

        ]
        });

        $("#modCreateCustomer").on("submit", "#form-createCustomer", function(e) {
            e.preventDefault(); // prevent standard form submission

            var form = $(this);
            $.ajax({
                //type: "POST",
                url: form.attr('action'),
                type: form.attr('method'), // post
                data: form.serialize(),
                success: function(partialResult) {
                    $("#form-container").html(partialResult);
                }
            });
        });

        $(function() {
            $.ajaxSetup({ cache: false });
            $(".itemDetailDialog").click(function(e) {

                e.preventDefault();
                $.get(this.href, function(data) {
                    $('#contentDetailDialog').html(data);
                    $('#modDetailDialog').modal('show');
                });
            });
        });

    });
</script>
}